.container {
    text-align: center;
    margin: 20px;
} 

.title {
    font-size: 2.5rem;
    color: black;
}

.subtitle {
    font-size: 1.8rem;
    color: gray;
    margin-bottom: 20px;
}

.children {
    margin-top: 20px;
    color: lightgray;
}